@media (max-width: 1024px) {
  .blog__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .blog__grid {
    grid-template-columns: 1fr;
  }

  .header__list {
    display: none;
  }

  .header__burger {
    display: block;
  }
}
